.bg_red {
    background-color: red;
       
    
}


.bg_green {
    background-color: green;
}

.bg_blue {
    background-color: blue;
    width: 100%;
    object-fit:fill;
}


.bg_yellow {
    background-color: yellow;
}